
[submodule "src/android/facebook-sdk"]
	path = src/android/facebook-sdk
	url = git://github.com/facebook/facebook-android-sdk.git
[submodule "src/ios/facebook-sdk"]
	path = src/ios/facebook-sdk
	url = git://github.com/facebook/facebook-ios-sdk.git
