<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.facebook"
    version="0.2.1">

    <name>Facebook Connect</name>

    <asset src="www/cdv-plugin-fb-connect.js" target="cdv-plugin-fb-connect.js" />
    <asset src="www/facebook_js_sdk.js" target="facebook_js_sdk.js" />
    
    <access origin="m.facebook.com" />
    <access origin="graph.facebook.com" />
    <access origin="api.facebook.com" />
    <access origin="*.fbcdn.net" />
    <access origin="*.akamaihd.net" />
    
    <preference name="APP_ID" />
    
    <engines>
      <engine name="cordova" version=">=2.1.0" />
    </engines>
    
    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/cordova/plugins">
            <plugin name="org.apache.cordova.facebook.Connect" value="org.apache.cordova.facebook.ConnectPlugin"/>
        </config-file>
        
        <!-- res files -->
        <source-file src="facebook/res/drawable/close.png" target-dir="res/drawable" />
        <source-file src="facebook/res/drawable/facebook_icon.png" target-dir="res/drawable" />
        <source-file src="facebook/res/drawable-hdpi/close.png" target-dir="res/drawable-hdpi" />
        <source-file src="facebook/res/drawable-hdpi/facebook_icon.png" target-dir="res/drawable-hdpi" />
        <source-file src="facebook/res/drawable-ldpi/close.png" target-dir="res/drawable-ldpi" />
        <source-file src="facebook/res/drawable-ldpi/facebook_icon.png" target-dir="res/drawable-ldpi" />
        <source-file src="facebook/res/drawable-xhdpi/close.png" target-dir="res/drawable-xhdpi" />
        
        <!-- cordova plugin src files -->
        <source-file src="ConnectPlugin.java" target-dir="src/org/apache/cordova/facebook" />
        
        <!-- facebook src files -->
        <source-file src="facebook/AsyncFacebookRunner.java" target-dir="src/com/facebook/android" />
        <source-file src="facebook/DialogError.java" target-dir="src/com/facebook/android" />
        <source-file src="facebook/Facebook.java" target-dir="src/com/facebook/android" />
        <source-file src="facebook/FacebookError.java" target-dir="src/com/facebook/android" />
        <source-file src="facebook/FbDialog.java" target-dir="src/com/facebook/android" />
        <source-file src="facebook/Util.java" target-dir="src/com/facebook/android" />
         
    </platform>
    
    <!-- ios -->
    <platform name="ios">
      
        <!-- Cordova < 2.3 -->
        <plugins-plist key="org.apache.cordova.facebook.Connect" string="FacebookConnectPlugin" />
        
        <!-- Cordova >= 2.3 -->
        <config-file target="config.xml" parent="/widget/plugins">
            <plugin name="org.apache.cordova.facebook.Connect" value="FacebookConnectPlugin"/>
        </config-file>
        
        <header-file src="FacebookConnectPlugin.h" target-dir="FacebookConnect" />
        <source-file src="FacebookConnectPlugin.m" target-dir="FacebookConnect" />
        <config-file target="*-Info.plist" parent="FacebookAppID">
            <string>$APP_ID</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
          <array>
            <dict>
              <key>CFBundleTypeRole</key>
              <string>None</string>
              <key>CFBundleURLName</key>
              <string>$PACKAGE_NAME</string>
              <key>CFBundleURLSchemes</key>
              <array>
                <string>fb$APP_ID</string>
              </array>
            </dict>
          </array>
        </config-file>

        <!-- facebook source files -->
        <source-file src="facebook-sdk/src/Facebook.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBCacheDescriptor.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBCacheIndex.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBContentLink.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBDataDiskCache.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBDialog.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBError.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBFrictionlessRequestSettings.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBFriendPickerCacheDescriptor.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBFriendPickerViewController.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBGraphObject.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBGraphObjectPagingLoader.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBGraphObjectTableCell.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBGraphObjectTableDataSource.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBGraphObjectTableSelection.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBLogger.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBLoginDialog.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBLoginView.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBNativeDialogs.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBPlacePickerCacheDescriptor.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBPlacePickerViewController.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBProfilePictureView.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBRequest.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBRequestBody.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBRequestConnection.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBSession.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBSessionManualTokenCachingStrategy.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBSessionTokenCachingStrategy.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBSettings.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBTestSession.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBURLConnection.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBUserSettingsViewController.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBUtility.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/FBViewController.m" target-dir="FacebookConnect" />
        
        <!-- facebook header files -->
        <header-file src="facebook-sdk/src/Facebook.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FacebookSDK.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBCacheDescriptor.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBCacheIndex.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBConnect.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBContentLink.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBDataDiskCache.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBDialog.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBError.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBFrictionlessRequestSettings.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBFriendPickerCacheDescriptor.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBFriendPickerViewController+Internal.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBFriendPickerViewController.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBGraphLocation.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBGraphObject.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBGraphObjectPagingLoader.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBGraphObjectTableCell.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBGraphObjectTableDataSource.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBGraphObjectTableSelection.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBGraphPlace.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBGraphUser.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBLogger.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBLoginDialog.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBLoginView.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBNativeDialogs.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBOpenGraphAction.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBPlacePickerCacheDescriptor.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBPlacePickerViewController+Internal.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBPlacePickerViewController.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBProfilePictureView.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBRequest.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBRequestBody.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBRequestConnection+Internal.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBRequestConnection.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBSDKVersion.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBSession+Internal.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBSession+Protected.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBSession.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBSessionManualTokenCachingStrategy.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBSessionTokenCachingStrategy.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBSettings+Internal.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBSettings.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBTestSession+Internal.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBTestSession.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBURLConnection.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBUserSettingsViewController.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBUtility.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBViewController+Internal.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/FBViewController.h" target-dir="FacebookConnect" />

        <!-- JSON source files -->
        <source-file src="facebook-sdk/src/JSON/FBSBJSON.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/JSON/FBSBJsonBase.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/JSON/FBSBJsonParser.m" target-dir="FacebookConnect" />
        <source-file src="facebook-sdk/src/JSON/FBSBJsonWriter.m" target-dir="FacebookConnect" />
        
        <!-- JSON header files -->
        <header-file src="facebook-sdk/src/JSON/FBSBJSON.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/JSON/FBSBJsonBase.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/JSON/FBSBJsonParser.h" target-dir="FacebookConnect" />
        <header-file src="facebook-sdk/src/JSON/FBSBJsonWriter.h" target-dir="FacebookConnect" />
        
        <!-- facebook resource files -->
        <resource-file src="facebook-sdk/src/Framework/Resources/FacebookSDKResources.bundle" />
        <resource-file src="facebook-sdk/src/Framework/Resources/FBUserSettingsViewResources.bundle" />
        
        <!-- frameworks -->
        <framework src="libsqlite3.dylib" />
        <framework src="Social.framework" weak="true" />
        <framework src="Accounts.framework" weak="true" />
        <framework src="AdSupport.framework" weak="true" />
    </platform>
</plugin>
