<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.facebook"
    version="0.2.1">

    <name>Facebook Connect</name>

    <asset src="www/cdv-plugin-fb-connect.js" target="cdv-plugin-fb-connect.js" />
    <asset src="www/facebook_js_sdk.js" target="facebook_js_sdk.js" />
    
    <access origin="m.facebook.com" />
    <access origin="graph.facebook.com" />
    <access origin="api.facebook.com" />
    <access origin="*.fbcdn.net" />
    <access origin="*.akamaihd.net" />
    
    <preference name="APP_ID" />
    
    <engines>
      <engine name="cordova" version=">=2.1.0" />
    </engines>
    
    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/cordova/plugins">
            <plugin name="org.apache.cordova.facebook.Connect" value="org.apache.cordova.facebook.ConnectPlugin"/>
        </config-file>
        
        <!-- res files -->
        <source-file src="facebook/res/drawable/close.png" target-dir="res/drawable" />
        <source-file src="facebook/res/drawable/facebook_icon.png" target-dir="res/drawable" />
        <source-file src="facebook/res/drawable-hdpi/close.png" target-dir="res/drawable-hdpi" />
        <source-file src="facebook/res/drawable-hdpi/facebook_icon.png" target-dir="res/drawable-hdpi" />
        <source-file src="facebook/res/drawable-ldpi/close.png" target-dir="res/drawable-ldpi" />
        <source-file src="facebook/res/drawable-ldpi/facebook_icon.png" target-dir="res/drawable-ldpi" />
        <source-file src="facebook/res/drawable-xhdpi/close.png" target-dir="res/drawable-xhdpi" />
        
        <!-- cordova plugin src files -->
        <source-file src="ConnectPlugin.java" target-dir="src/org/apache/cordova/facebook" />
        
        <!-- facebook src files -->
        <source-file src="facebook/AsyncFacebookRunner.java" target-dir="src/com/facebook/android" />
        <source-file src="facebook/DialogError.java" target-dir="src/com/facebook/android" />
        <source-file src="facebook/Facebook.java" target-dir="src/com/facebook/android" />
        <source-file src="facebook/FacebookError.java" target-dir="src/com/facebook/android" />
        <source-file src="facebook/FbDialog.java" target-dir="src/com/facebook/android" />
        <source-file src="facebook/Util.java" target-dir="src/com/facebook/android" />
         
    </platform>
    
    <!-- ios -->
    <platform name="ios">
      
        <!-- Cordova < 2.3 -->
        <plugins-plist key="org.apache.cordova.facebook.Connect" string="FacebookConnectPlugin" />
        
        <!-- Cordova >= 2.3 -->
        <config-file target="config.xml" parent="/widget/plugins">
            <plugin name="org.apache.cordova.facebook.Connect" value="FacebookConnectPlugin"/>
        </config-file>
        
    </platform>
</plugin>
